In [1]:
!pip install pandas==1.5.3
!pip install selenium
!pip install undetected_chromedriver

Collecting selenium
  Downloading selenium-4.8.2-py3-none-any.whl (6.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 21.6 MB/s eta 0:00:00m eta 0:00:010:01:01
Collecting trio-websocket~=0.9
  Using cached trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting trio~=0.17
  Using cached trio-0.22.0-py3-none-any.whl (384 kB)
Requirement already satisfied: certifi>=2021.10.8 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from selenium) (2022.9.24)
Requirement already satisfied: urllib3[socks]~=1.26 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from selenium) (1.26.11)
Requirement already satisfied: sortedcontainers in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting exceptiongroup>=1.0.0rc9
  Using cached exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Collecting outcome
  Using cached outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Collecting async-generator>=1.9
  Using cached async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: attrs>=19.2.0 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sniffio in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium) (1.2.0)
Collecting wsproto>=0.14
  Using cached wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.3/58.3 kB 2.1 MB/s eta 0:00:00
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.8.2 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0
Collecting undetected_chromedriver
  Using cached undetected-chromedriver-3.4.6.tar.gz (61 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: selenium>=4.0.0 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from undetected_chromedriver) (4.8.2)
Requirement already satisfied: requests in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from undetected_chromedriver) (2.28.1)
Collecting websockets
  Downloading websockets-10.4-cp39-cp39-macosx_10_9_x86_64.whl (97 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 97.9/97.9 kB 2.7 MB/s eta 0:00:00
Requirement already satisfied: urllib3[socks]~=1.26 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from selenium>=4.0.0->undetected_chromedriver) (1.26.11)
Requirement already satisfied: certifi>=2021.10.8 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from selenium>=4.0.0->undetected_chromedriver) (2022.9.24)
Requirement already satisfied: trio~=0.17 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from selenium>=4.0.0->undetected_chromedriver) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from selenium>=4.0.0->undetected_chromedriver) (0.9.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from requests->undetected_chromedriver) (3.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from requests->undetected_chromedriver) (2.0.4)
Requirement already satisfied: attrs>=19.2.0 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium>=4.0.0->undetected_chromedriver) (21.4.0)
Requirement already satisfied: outcome in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium>=4.0.0->undetected_chromedriver) (1.2.0)
Requirement already satisfied: sniffio in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium>=4.0.0->undetected_chromedriver) (1.2.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium>=4.0.0->undetected_chromedriver) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium>=4.0.0->undetected_chromedriver) (1.10)
Requirement already satisfied: sortedcontainers in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio~=0.17->selenium>=4.0.0->undetected_chromedriver) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from trio-websocket~=0.9->selenium>=4.0.0->undetected_chromedriver) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from urllib3[socks]~=1.26->selenium>=4.0.0->undetected_chromedriver) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /Users/vtamprateep/opt/anaconda3/lib/python3.9/site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium>=4.0.0->undetected_chromedriver) (0.14.0)
Building wheels for collected packages: undetected_chromedriver
  Building wheel for undetected_chromedriver (setup.py) ... done
  Created wheel for undetected_chromedriver: filename=undetected_chromedriver-3.4.6-py3-none-any.whl size=44484 sha256=d197518893a359009db8dee0fbb6b0ed38cd1f2e94517cdf8cf4afaaf6a3df54
  Stored in directory: /Users/vtamprateep/Library/Caches/pip/wheels/59/91/0c/e10481bbb66f4c4b09cc2aa1356320fafc24cc7be7f9563e73
Successfully built undetected_chromedriver
Installing collected packages: websockets, undetected_chromedriver
Successfully installed undetected_chromedriver-3.4.6 websockets-10.4

In [1]:
from selenium.common.exceptions import WebDriverException, NoSuchElementException
from selenium.webdriver.common.desired_capabilities import DesiredCapabilities
from selenium.webdriver.common.by import By
from selenium.webdriver.chromium.options import ChromiumOptions

import pandas as pd
import undetected_chromedriver as webdriver
import json
import random
import time
import csv

## Part 1: Scrape search results

In [ ]:
# Get sample list of artists to search and get their web pages
artist_list = pd.read_csv("seed_artist.csv", header = None)

In [12]:
# Configure options to disable javascript
options = webdriver.ChromeOptions()
options.add_experimental_option( "prefs",{'profile.managed_default_content_settings.javascript': 2})

# Configure load strategy to eager to speed up load time
options.page_load_strategy = "eager"

In [33]:
# Initialize webdriver
driver = webdriver.Chrome(options)

In [42]:
# Search artist name on website, pull URL to first search result
# Write page URL to file every 50 artists pulled in case bot detection kicks in

base_df = pd.DataFrame()
batch = 0
first_write = False
file_name = "artist_search.csv"

for artist in artist_list[0]:
    artist_format = artist.replace(" ", "+")
    search_query = f"https://www.concertarchives.org/bands?search={artist_format}"
    driver.get(search_query)
    
    # Scan page and get search results in df
    try:
        table_element = driver.find_element(By.CLASS_NAME, "table-responsive")
        table_html = table_element.get_attribute("outerHTML")
        artist_df = pd.read_html(table_html, extract_links = "body")[0]
    except:
        continue
    
    # Append artist name, add to dataframe, increment count
    artist_df["Name"] = artist
    
    if base_df.empty:
        base_df = artist_df.copy()
    else:
        base_df = pd.concat([base_df, artist_df])
        
    batch += 1

    # Write to file every 50 artists
    if batch == 50 and first_write:  # Write to file every 50 artists
        base_df.to_csv(file_name, index = False)
        batch = 0
        base_df = pd.DataFrame()
        first_write = False
    elif batch == 50:
        base_df.to_csv(file_name, index = False, mode = "a", header = False)
        batch = 0
        base_df = pd.DataFrame()
        
    time.sleep(random.random() / 2 + 0.5)  # Randomly wait 0.5 - 1.5 seconds before next artist
    
# Save remaining scraped band page URLs to file
if not base_df.empty:
    base_df.to_csv(file_name, index = False, mode = "a", header = False)

## Part 2: Get top search result by edit distance

In [53]:
!pip install levenshtein

Collecting levenshtein
  Downloading Levenshtein-0.20.9-cp39-cp39-macosx_10_9_x86_64.whl (131 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 131.4/131.4 kB 1.8 MB/s eta 0:00:00 MB/s eta 0:00:01
Collecting rapidfuzz<3.0.0,>=2.3.0
  Downloading rapidfuzz-2.13.7-cp39-cp39-macosx_10_9_x86_64.whl (1.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.8/1.8 MB 4.3 MB/s eta 0:00:00[31m4.6 MB/s eta 0:00:01
Installing collected packages: rapidfuzz, levenshtein
Successfully installed levenshtein-0.20.9 rapidfuzz-2.13.7

In [119]:
import re
import Levenshtein

In [90]:
# Import and format data
search_df = pd.read_csv("artist_search.csv", names = ["search_name", "concert_count", "artist"])
search_df.head()

,search_name,concert_count,artist
0,"('Coldplay', '/bands/coldplay')","('1,258 concerts', None)",Coldplay
1,"('Ultimate Coldplay', '/bands/ultimate-coldplay')","('2 concerts', None)",Coldplay
2,"('Coldplace', '/bands/coldplace')","('5 concerts', None)",Coldplay
3,"('Coldplay Music of the Spheres', '/bands/cold...","('1 concerts', None)",Coldplay
4,"('Coldplay ft. Jess Kent', '/bands/coldplay-ft...","('1 concerts', None)",Coldplay

In [101]:
# Split tuple columns for name and href
search_results_name = search_df["search_name"].tolist()

for i in range(len(search_results_name)):
    search_results_name[i] = re.sub(r"[\(\)'']", "", search_results_name[i])
    search_results_name[i] = search_results_name[i].split(", /")
    
results_name_df = pd.DataFrame(search_results_name)

# Extract count of concerts
search_concert_count = search_df["concert_count"].tolist()

for i in range(len(search_concert_count)):
    search_concert_count[i] = re.sub(r"[\(\)'',]", "", search_concert_count[i])
    search_concert_count[i] = search_concert_count[i].split("concerts")[0].strip()
    
results_concert_df = pd.DataFrame(search_concert_count)
results_concert_df[0] = results_concert_df[0].astype('int')

In [109]:
# Recombine into cleaned dataframe
cleaned_search_df = pd.concat([search_df, results_name_df, results_concert_df], axis = 1)
cleaned_search_df = cleaned_search_df.drop(columns = ["search_name", "concert_count"])
cleaned_search_df.columns = ["artist", "search_result", "page_url", "concert_count"]

TypeError: 'list' object is not callable

In [128]:
# Calculate levenshtein distance
cleaned_search_df["l_score"] = pd.NA
for i, r in cleaned_search_df.iterrows():
    cleaned_search_df["l_score"][i] = Levenshtein.distance(r["artist"], r["search_result"])
    
cleaned_search_df.head()

/var/folders/d3/k0v5vst508sc7glyv2sbz9880000gn/T/ipykernel_6656/1665845050.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_search_df["l_score"][i] = Levenshtein.distance(r["artist"], r["search_result"])

,artist,search_result,page_url,concert_count,l_score
0,Coldplay,Coldplay,bands/coldplay,1258,0
1,Coldplay,Ultimate Coldplay,bands/ultimate-coldplay,2,9
2,Coldplay,Coldplace,bands/coldplace,5,2
3,Coldplay,Coldplay Music of the Spheres,bands/coldplay-music-of-the-spheres,1,21
4,Coldplay,Coldplay ft. Jess Kent,bands/coldplay-ft-jess-kent,1,14

In [145]:
# Dense rank and pull highest rank result per artist
ranked_series = cleaned_search_df.groupby("artist")["l_score"].rank(method="dense", ascending=True)
ranked_series.name = "rank"
ranked_search_df = pd.concat([cleaned_search_df, ranked_series], axis = 1)
ranked_name_df = ranked_search_df[ranked_search_df["rank"] == 1]

ranked_name_df

,artist,search_result,page_url,concert_count,l_score,rank
0,Coldplay,Coldplay,bands/coldplay,1258,0,1.0
13,Radiohead,Radiohead,bands/radiohead,1102,0,1.0
22,Red Hot Chili Peppers,Red Hot Chili Peppers,bands/red-hot-chili-peppers,1697,0,1.0
32,Rihanna,Rihanna,bands/rihanna,663,0,1.0
37,Eminem,Eminem,bands/eminem,349,0,1.0
...,...,...,...,...,...,...
9924,twenty one pilots,Twenty Øne Pilots,bands/twenty-one-pilots--671728,19,3,1.0
9928,twenty one pilots,Twenty Øne Pilots,bands/twenty-one-pilots--535835,1,3,1.0
9933,Adam Lambert,Adam Lambert,bands/adam-lambert,568,0,1.0
9937,Method Man,Method Man,bands/method-man,560,0,1.0
9941,Estelle,Estelle,bands/estelle,284,0,1.0

In [146]:
# Dense rank on concert count, pull highest rank result
ranked_concerts = cleaned_search_df.groupby("artist")["concert_count"].rank(method="dense", ascending=False)
ranked_concerts.name = "rank"
ranked_concerts_df = ranked_name_df.copy()
ranked_concerts_df["rank"] = ranked_concerts
ranked_concerts_df = ranked_concerts_df[ranked_concerts_df["rank"] == 1]

ranked_concerts_df

,artist,search_result,page_url,concert_count,l_score,rank
0,Coldplay,Coldplay,bands/coldplay,1258,0,1.0
13,Radiohead,Radiohead,bands/radiohead,1102,0,1.0
22,Red Hot Chili Peppers,Red Hot Chili Peppers,bands/red-hot-chili-peppers,1697,0,1.0
32,Rihanna,Rihanna,bands/rihanna,663,0,1.0
37,Eminem,Eminem,bands/eminem,349,0,1.0
...,...,...,...,...,...,...
9918,Flying Lotus,Flying Lotus,bands/flying-lotus,596,0,1.0
9921,twenty one pilots,Twenty One Pilots,bands/twenty-one-pilots--15,1018,3,1.0
9933,Adam Lambert,Adam Lambert,bands/adam-lambert,568,0,1.0
9937,Method Man,Method Man,bands/method-man,560,0,1.0
9941,Estelle,Estelle,bands/estelle,284,0,1.0

In [147]:
# Save to csv
ranked_concerts_df.to_csv("fuzzy_match_artist.csv")

## Part 3: Scrape concert page per band

In [4]:
# Import list of band page URLs
artist_page_list = pd.read_csv("fuzzy_match_artist.csv")
artist_page_list.head()

,Unnamed: 0,artist,search_result,page_url,concert_count,l_score,rank
0,0,Coldplay,Coldplay,bands/coldplay,1258,0,1.0
1,13,Radiohead,Radiohead,bands/radiohead,1102,0,1.0
2,22,Red Hot Chili Peppers,Red Hot Chili Peppers,bands/red-hot-chili-peppers,1697,0,1.0
3,32,Rihanna,Rihanna,bands/rihanna,663,0,1.0
4,37,Eminem,Eminem,bands/eminem,349,0,1.0

In [13]:
# Initialize webdriver again if you took a break between getting
# artist URL and scraping artist page

driver = webdriver.Chrome(options)

In [14]:
# Loop through artists, get concerts info
base_df = pd.DataFrame()
base_url = "https://www.concertarchives.org/"
batch = 0
first_write = False
file_name = "artist_concert_data.csv"

for i, r in artist_page_list.iterrows():
    # Load page and get table HTML
    
    for page in range(1, 6):
        query = f"{base_url}{r['page_url']}?page={page}"
        try:
            driver.get(query)
            table_element = driver.find_element(By.ID, "band-show-table-condensed")
            table_html = table_element.get_attribute("outerHTML")

            # Pass to Pandas, condense to one data frame
            df_list = pd.read_html(table_html)
            df = df_list[0]

            for i in range(1,len(df_list)):
                next_df = df_list[i]
                next_df.columns = df.columns  # Format columns for concat
                df = pd.concat([df, next_df])
        except:
            break
        
        df["Artist"] = r["artist"]
        
        if base_df.empty:
            base_df = df.copy()
        else:
            base_df = pd.concat([base_df, df])
            
        time.sleep(random.random() / 4 + 0.25)
        batch += 1
    
    # Write to file every 50 artists
    if batch >= 50 and first_write:  # Write to file every 50 artists
        base_df.to_csv(file_name, index = False)
        base_df = pd.DataFrame()
        batch = 0
        first_write = False
    elif batch >= 50:
        base_df.to_csv(file_name, index = False, mode = "a", header = False)
        batch = 0
        base_df = pd.DataFrame()
    
# Save remaining scraped band page URLs to file
if not base_df.empty:
    base_df.to_csv(file_name, index = False, mode = "a", header = False)

In [16]:
base_df
if not base_df.empty:
    base_df.to_csv(file_name, index = False, mode = "a", header = False)